<div clas="container-fluid">
    <div class="row bg-dark">
<div class="col-sm-1"></div>
        <div class="col-sm-3 text-light">
            <h5>Company</h5>
            
<p>About Us</p>
<p>Our Services</p>
<p>Privacy Policy</p>
<p>Affiliate Program</p>
        </div>
        <div class="col-sm-3 text-light">
            
                <h5>Contact Info</h5>
                
                <p><i class="fa fa-phone text-warning" aria-hidden="true"></i> +91 9347842079</p>
                <p><i class="fa fa-phone text-warning" aria-hidden="true"></i> +91 9182705546</p>
                <p><i class="fa fa-envelope text-warning" aria-hidden="true"></i> kistiatisowmya@gmail.com</p>
                <p><i class="fa fa-map-marker text-warning" aria-hidden="true"></i> Hyderabad,India-500008</p>
            
            
            </div>
        <div class="col-sm-3 text-light">
            <h5>Different Courses</h5>
        
            <p><i class="fa fa-arrow-right text-warning" aria-hidden="true"></i> Data Science</p>
            <p><i class="fa fa-arrow-right text-warning" aria-hidden="true"></i> Artificial Intelligence</p>
            <p><i class="fa fa-arrow-right text-warning" aria-hidden="true"></i> Cloud Computing</p>
            <p><i class="fa fa-arrow-right text-warning" aria-hidden="true"></i> Cybersecurity</p>
            <p><i class="fa fa-arrow-right text-warning" aria-hidden="true"></i> Web Designing</p>
        </div>
        <div class="col-sm-2 text-light">
            <h5>Follow Us</h5>
                           
            <img src="assets/f1.png" alt="" width="40" height="40">
            <img src="assets/f6.png" alt="" width="40" height="40">
            <img src="assets/f3.png" alt="" width="40" height="40">
            <img src="assets/f4.jpg" alt="" width="40" height="40">
            </div>
    </div>
    <div class="row">
    <p class="foot d-flex justify-content-center">Designed By Sowmya Kistipati &copy; All copyrights</p>
</div>
</div>




















