<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h4 class="text-warning">HTML</h4>
            <P>HTML is the standard markup language for creating Web pages.The tag specifies additional details that the user can open and close on demand. The tag is often used to create an interactive widget that the user can open and close. By default, the widget is closed.
                
HTML (Hypertext Markup Language) is a text-based approach to describing how content contained within an HTML file is structured. This markup tells a web browser how to display text, images and other forms of multimedia on a webpage.

Types of HTML

HTML can be divided into three categories: transitional, strict, and frameset. These types apply to how HTML is used, not necessarily to the selection of tags.
Image result for html details
There is a range of HTML tags, they help you to design your web page. There are four required tags in HTML. These are html, title, head and body. The table below shows you the opening and closing tag, a description and an example.            
</P>
<button class=" btn bg-danger"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">Read More</a></button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/a4.avif" alt="" width="400" height="300">
        </div>
        
        <div class="col-sm-4">
            <img src="/assets/a2.jpg" alt="" width="400" height="300">
        </div>
        <div class="col-sm-8">

            <h4 class="text-warning">CSS</h4>
            <P>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML or XML (including XML dialects such as SVG, MathML or XHTML). CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.HTML is the standard markup language for creating Web pages.The tag specifies additional details that the user can open and close on demand. The tag is often used to create an interactive widget that the user can open and close. By default, the widget is closed.
                
HTML (Hypertext Markup Language) is a text-based approach to describing how content contained within an HTML file is structured. This markup tells a web browser how to display text, images and other forms of multimedia on a webpage.

CSS is the language for describing the presentation of Web pages, including colors, layout, and fonts. It allows one to adapt the presentation to different types of devices, such as large screens, small screens, or printers. CSS is independent of HTML and can be used with any XML-based markup language.
            </P>
            <button class=" btn bg-danger"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">Read More</a></button>
        </div>
        

        <div class="col-sm-8">
            <h4 class="text-warning">JS</h4>
            <P>JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat
                HTML is the standard markup language for creating Web pages.The tag specifies additional details that the user can open and close on demand. The tag is often used to create an interactive widget that the user can open and close. By default, the widget is closed.
                
HTML (Hypertext Markup Language) is a text-based approach to describing how content contained within an HTML file is structured. This markup tells a web browser how to display text, images and other forms of multimedia on a webpage.

Types of HTML

HTML can be divided into three categories: transitional, strict, and frameset. These types apply to how HTML is used, not necessarily to the selection of tags.
Image result for html details.            
</P>
<button class=" btn bg-danger"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">Read More</a></button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/a5.jpg" alt="" width="400" height="300">
        </div>
       
        <div class="col-sm-4">
           <br> <img src="/assets/a3.png" alt="" width="400" height="300">
        </div>
        <div class="col-sm-8">
            <h4 class="text-warning">ANGULAR</h4>
            <P>
                Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your applications.
                HTML is the standard markup language for creating Web pages.The tag specifies additional details that the user can open and close on demand. The tag is often used to create an interactive widget that the user can open and close. By default, the widget is closed.
                
HTML (Hypertext Markup Language) is a text-based approach to describing how content contained within an HTML file is structured. This markup tells a web browser how to display text, images and other forms of multimedia on a webpage.

Types of HTML

HTML can be divided into three categories: transitional, strict, and frameset. These types apply to how HTML is used, not necessarily to the selection of tags.
Image result for html details
There is a range of HTML tags, they help you to design your web page. There are four required tags in HTML. These are html, title, head and body. The table below shows you the opening and closing tag, a description and an example.            
</P>
<button class=" btn bg-danger"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">Read More</a></button>
        </div>
            
        <div class="col-sm-8">
            <h4 class="text-warning">REACTJS</h4>
            <P>
                React (also known as React. js or ReactJS) is a free and open-source front-end JavaScript library for building user interfaces based on components. It is maintained by Meta (formerly Facebook) and a community of individual developers and companies.
                HTML is the standard markup language for creating Web pages.The tag specifies additional details that the user can open and close on demand. The tag is often used to create an interactive widget that the user can open and close. By default, the widget is closed.
                
HTML (Hypertext Markup Language) is a text-based approach to describing how content contained within an HTML file is structured. This markup tells a web browser how to display text, images and other forms of multimedia on a webpage.

Types of HTML

HTML can be divided into three categories: transitional, strict, and frameset. These types apply to how HTML is used, not necessarily to the selection of tags.
Image result for html details
There is a range of HTML tags, they help you to design your web page. There are four required tags in HTML. These are html, title, head and body. The table below shows you the opening and closing tag, a description and an example.            
</P>
<button class=" btn bg-danger"><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details">Read More</a></button>
        </div>
        
        <div class="col-sm-4">
            <img src="/assets/a1.png" alt="" width="400" height="300">
        </div>
    </div>
</div>