<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <img src="/assets/k1.jpg" alt="" width="400" height="400">
        </div>
        <div class="col-sm-5">
            <h3 class="text-danger">Fullstack Web Developement Course</h3>
            <h6> Front End Technologies : Html,Css,JavaScript,Bootstrap,Angular</h6>
            <h6>Back End Technologies : ReactJs</h6>
            <h6>Database Management System : MySQL, SQL SERVER and PostgreSQL, MongoDB, and Oracle Database</h6>
            <h6>Other Skills : Soft Skills,Communication Skills,Aptitute and Reasoning</h6>
            <h6>Course Type : Online/Offline</h6>
            <h6>Course Fee : Rs.25,000</h6>
            <h6>Placement : 100% </h6>
            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
            <br><br><button class=" btn bg-danger"><a class="text-dark" routerLink="/about">Read More</a></button>
            <button class="btn bg-success"><a routerLink="/cart" class="text-dark">Add Product</a></button>
        </div>
</div>
<div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <br><img src="/assets/k2.png" alt="" width="400" height="400">
        </div>
        <div class="col-sm-5">
           <br> <h3 class="text-danger">Fullstack Python Developer Course</h3>
            <h6> Front End Technologies : Html,Css,Java Script</h6>
            <h6> Back End Technologies and Frameworks : NodeJS, ExpressJS, Django, Flask, C++</h6>
            <h6>Database Management System : MySQL, SQL SERVER and PostgreSQL, MongoDB, and Oracle Database</h6>
            <h6>Other Skills : Soft Skills,Communication Skills,Aptitute and Reasoning</h6>
            <h6>Course Type : Online/Offline</h6>
            <h6>Course Fee : Rs.20,000</h6>
            <h6>Placement : 100% </h6>
            <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
            <br><br><button class=" btn bg-danger"><a  class="text-dark" routerLink="/about">Read More</a></button>
            <button class="btn bg-success"><a routerLink="/cart" class="text-dark">Add Product</a></button>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <br><img src="/assets/k3.jpeg" alt="" width="400" height="400">
            </div>
            <div class="col-sm-5">
                <br><h3 class="text-danger">Devops with Aws Course</h3>
                <h6> Devops Technologies : Git,Maven,Jenkin,Docker,Kubernates and Ansible</h6>
                <h6> AWS Technologies and Frameworks : VPC,S3,EC2,Cloud Watcher,Gurd Duty and IAM</h6>
              
                <h6>Other Skills : Soft Skills,Communication Skills,Aptitute and Reasoning</h6>
                <h6>Course Type : Online/Offline</h6>
                <h6>Course Fee : Rs.15,000</h6>
                <h6>Placement : 100% </h6>
                <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                <br><br><button class=" btn bg-danger"><a  class="text-dark" routerLink="/about">Read More</a></button>
                <button class="btn bg-success"><a routerLink="/cart" class="text-dark">Add Product</a></button>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <br><img src="/assets/z1.webp" alt="" width="400" height="400">
                </div>
                <div class="col-sm-5">
                    <br><h3 class="text-danger">Software Testing Course</h3>
                    <h6> Technologies : Manual Testing and Automation Testing</h6>
                    
                    <h6>Database Management System : MySQL, SQL SERVER and PostgreSQL, MongoDB, and Oracle Database</h6>
                    <h6>Other Skills : Soft Skills,Communication Skills,Aptitute and Reasoning</h6>
                    <h6>Course Type : Online/Offline</h6>
                    <h6>Course Fee : Rs.30,000</h6>
                    <h6>Placement : 100% </h6>
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                    <br><br><button class=" btn bg-danger"><a  class="text-dark" routerLink="/about">Read More</a></button>
                    <button class="btn bg-success"><a routerLink="/cart" class="text-dark">Add Product</a></button>
                </div>
    </div>
</div>