    
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
<nav class="navbar navbar-expand-sm">
 
          <ul class="navbar-nav">
            <a routerLink="/courses" class="nav-link"><img src="/assets/l2.png" alt=""></a>
            <h3>Online Courses</h3>
            <li class="nav-item active"><a  routerLink="/home" class="nav-link active" routerLinkActive="active-link">HOME</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/about">ABOUT</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/gallary">GALLARY</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/courses">COURSES</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/blog">BLOG</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/ourservices">OUR SERVICES</a></li>
           
            
            <li class="nav-item"><a class="nav-link" routerLink="/register"><button class="btn bg-warning">Register</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/login"><button class="btn bg-warning">login</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/cart"><i class="icon fa-sharp fa-solid fa-cart-plus text-warning "></i></a></li>
          </ul>
        
        
    </nav>
  </div>
  </div>
</div><br>
  <div col-sm-12>
    
  <router-outlet></router-outlet>
</div>

     <br>
<app-footer></app-footer>