<div class="container">
    <div class="row">

<div class="col-sm-3 sow">
    <p align="center"><i class="fa-sharp fa-solid fa-map-location text-warning fs-1"></i></p>
<h4 class="text-light"  align="center">Address</h4>
<p class="text-secondary"  align="center">2nd Floor,Madhapur,</p>
<p class="text-secondary" align="center">Hyderabad, Telangana 500081</p>
</div>
<div class="col-sm-1"></div>
<div class="col-sm-3 sow">
    <p align="center"><i class="fa-solid fa-envelope text-warning fs-1"></i></p>
    <h4 class="text-light"  align="center">Email</h4>
    <p class="text-secondary"  align="center">onlinecourses1@gmail.com</p>
    <p class="text-secondary"align="center">onlinecourses2@gmail.com</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3 sow">
        <p align="center"><i class="fa-solid fa-clock text-warning fs-1"></i></p>
        <h4 class="text-light" align="center">Course Timings</h4>
        <p class="text-secondary" align="center">Mon-Fri Morning 10:00-12:00</p>
        <p class="text-secondary" align="center">Mon-Fri Afternoon 02:00-04:00</p>
        </div>
<br><br><p></p>
<div class="row">
    <div class="col-sm-6">
        <div class="course">
            <h3 align="center"  >Login For Online Courses</h3>
            <form action="">
            
                <label for=""  >First Name : </label>
                <input type="text" class="form-control" placeholder="First Name">
                <label for=""  >Last Name : </label>
                <input type="text" class="form-control" placeholder="Last Name">
                <label for="" >Email Id : </label>
                <input type="text"  class="form-control" placeholder="Email Id" >
                <label for=""  >Password : </label>
                <input type="password"  class="form-control" placeholder="Password"><br>
                <select name="" id="">
                    <option value="">Select Courses</option>
                    <option value="">Full Stack Web Developer</option>
                    <option value="">Full Stack Python Developer</option>
                    <option value="">Devops with AWS</option>
                    <option value="">Software Testing </option>
                </select>
               <br><br>
                <button class="btn bg-success text-light">Login</button>
            </form>
            </div>
    </div>


    <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1903.1625626252635!2d78.38535789839474!3d17.444146000000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93de30f7fe9b%3A0x49ad74e1706c9f30!2sGreatcoder%20Technologies%20Private%20Limited!5e0!3m2!1sen!2sin!4v1684046816332!5m2!1sen!2sin" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div></div>