<div class="container">
    <div class="row">
        <h2 align="center">Expert Teachers</h2>
        <div class="col-sm-3">
           
        <img src="/assets/d3.PNG" alt="" width="300" height="300">
        <span>Jhon Deo </span>
        <span  class="mar"> Online Tutor</span>
        </div>

        <div class="col-sm-3">
           
            <img src="/assets/d2.PNG" alt="" width="300" height="300">
            <span>Aurora </span>
            <span  class="mar"> Online Tutor</span>
            </div>

            <div class="col-sm-3">
           
                <img src="/assets/d5.PNG" alt="" width="300" height="300">
                <span>David </span>
                <span  class="mar"> Online Tutor</span>
                </div>

                <div class="col-sm-3">
           
                    <img src="/assets/d4.PNG" alt="" width="300" height="300">
                    <span>Harper </span>
                    <span  class="mar"> Online Tutor</span>
                    </div>
</div>

    
    <h2 align="center">TESTIMONIALS</h2>

     <div class="wrapper">
        <i class="fa-solid fa-angle-left text-light"></i>
        <div class="carousel">
            <div class="butn">
            <button>
                <img src="/assets/e1.PNG" alt="">
                <p>Currently i am attending java online course, i had attend my course in online. The trainer of this course is really a more knowledgeable personality and friendly to approach. This is totally a very useful course to bulid a career in java. Thank you for this such a useful platform.</p>
           <h6>Pandu</h6>
                <p>Btech|cse|2020</p>
            </button>
            </div>
            <div class="butn">
            <button>
                <img src="/assets/e2.PNG" alt="">
                <p>Currently i am attending java online course, i had attend my course in online. The trainer of this course is really a more knowledgeable personality and friendly to approach. This is totally a very useful course to bulid a career in java. Thank you for this such a useful platform.</p>
           <h6>Pandu</h6>
                <p>Btech|cse|2020</p>
            </button></div>
            <div class="butn">
            <button>
                <img src="/assets/e3.PNG" alt="">
                <p>Currently i am attending java online course, i had attend my course in online. The trainer of this course is really a more knowledgeable personality and friendly to approach. This is totally a very useful course to bulid a career in java. Thank you for this such a useful platform.</p>
           <h6>Pandu</h6>
                <p>Btech|cse|2020</p>
            </button></div>
            <div class="butn">
            <button>
                <img src="/assets/e1.PNG" alt="">
                <p>Currently i am attending java online course, i had attend my course in online. The trainer of this course is really a more knowledgeable personality and friendly to approach. This is totally a very useful course to bulid a career in java. Thank you for this such a useful platform.</p>
           <h6>Pandu</h6>
                <p>Btech|cse|2020</p>
            </button></div>
            <div class="butn">
            <button>
                <img src="/assets/e2.PNG" alt="">
                <p>Currently i am attending java online course, i had attend my course in online. The trainer of this course is really a more knowledgeable personality and friendly to approach. This is totally a very useful course to bulid a career in java. Thank you for this such a useful platform.</p>
           <h6>Pandu</h6>
                <p>Btech|cse|2020</p>
            </button>
            </div>
            <div class="butn">
            <button>
                <img src="/assets/e3.PNG" alt="">
                <p>Currently i am attending java online course, i had attend my course in online. The trainer of this course is really a more knowledgeable personality and friendly to approach. This is totally a very useful course to bulid a career in java. Thank you for this such a useful platform.</p>
           <h6>Pandu</h6>
                <p>Btech|cse|2020</p>
            </button>
            </div>
        </div>
        <i class="fa-solid fa-angle-right text-light"></i>
     </div>


    <div class="row">
       <br> <h2 align="center">Placement Opportunities</h2><br>
        <div class="col-sm-12">
            <div class="carousel slide" data-bs-ride="carousel" id="myca">
                <div class="carouse-inner">
                    <div class="carousel-item active">
                        <img class="img-thumbnail" src="assets/w1.jpg" alt="">

                        </div>
                        <div class="carousel-item">
                            <img class="img-thumbnail" src="assets/w3.jpg" alt="" >
                            </div>
                           
                                      
                
                
               
            </div>
        </div>
        </div>
</div>