<div class="container">
    <div class="row">
        <div class="col-sm-4">
          
<div class="flip-card" tabIndex="0">
    <div class="flip-card-inner">
      <div class="flip-card-front">
       <img src="/assets/g1.png" alt="" width="300" height="300">
      </div>
      <div class="flip-card-back">
        <h3 class="text-warning">JAVA</h3>
        <p>Java is a widely-used programming language for coding web applications. It has been
             a popular choice among developers for over two decades, with millions of Java applications in use today. 
             Java is a multi-platform, object-oriented, and network-centric language that can be used as a platform in itself.</p>
      </div>
</div>
      
    </div>
    </div>

  <br>
  <div class="col-sm-4">
    <div class="flip-card" tabIndex="0">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           <img src="/assets/a3.png" alt="" width="300" height="300">
          </div>
          <div class="flip-card-back">
            <h3 class="text-warning">Angular</h3>
            <p>Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose is to develop single-page applications. 
                As a framework, Angular has clear advantages while also providing a standard structure for developers to work with.</p>
          </div>
        </div>
    </div>
          
        </div>
        



<div class="col-sm-4">
    <div class="flip-card" tabIndex="0">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           <img src="/assets/g2.png" alt="" width="300" height="300">
          </div>
          <div class="flip-card-back">
            <h3 class="text-warning">Bootstrap</h3>
            <p>
                Bootstrap is a free, open source front-end development framework for the creation of websites and web apps. Designed to enable responsive development of mobile-first websites, Bootstrap provides a collection of syntax for template designs.</p>
          </div>
          </div></div></div>
          </div>
<br><div class="row">
          <div class="col-sm-4">
            <div class="flip-card" tabIndex="0">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                   <img src="/assets/a5.jpg" alt="" width="300" height="300">
                  </div>
                  <div class="flip-card-back">
                    <h3 class="text-warning">Js</h3>
                    <p>
                     JavaScript is a scripting language that enables you to create dynamically updating content, control multimedia, animate images, and pretty much everything else.</p>
                  </div>
            
                </div>

            </div>
          
                  
                </div>
                
        
                <div class="col-sm-4">
                    <div class="flip-card" tabIndex="0">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                           <img src="/assets/g3.jpg" alt="" width="300" height="300">
                          </div>
                          <div class="flip-card-back">
                            <h3 class="text-warning">Machine Learning</h3>
                            <p>
                                Simply put, machine learning allows the user to feed a computer algorithm an immense amount of data and have the computer analyze and make data-driven recommendations and decisions based on only the input data.</p>
                          </div>
                        </div>
                    </div>
                          
                        </div>
        

                        <div class="col-sm-4">
                            <div class="flip-card" tabIndex="0">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                   <img src="/assets/a1.png" alt="" width="300" height="300">
                                  </div>
                                  <div class="flip-card-back">
                                    <h3 class="text-warning">ReactJS</h3>
                                    <p>
                                        The React. js framework is an open-source JavaScript framework and library developed by Facebook. It's used for building interactive user interfaces and web applications quickly and efficiently with significantly less code than you would with vanilla JavaScript.</p>
                                  </div>
                                </div>
                            </div>
                                  
                                </div>
</div>
</div>





