<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <img src="/assets/z2.jpg" alt="" width="700" height="600">
        </div>
        <div class="col-sm-2">
            <img src="/assets/b2.jpg" alt="" width="200" height="200"><br>
            <img src="/assets/b3.jpg" alt="" width="200" height="200"><br>
            <img src="/assets/b4.webp" alt="" width="200" height="200">
        </div>
        <div class="col-sm-3">
            <h5 >Data Science</h5>
            <p>
                Data science is the study of data to extract meaningful insights for business.
               
                Data scientists examine which questions need answering and where to find the related data.</p><br>
                <h5>Artificial Intelligence</h5>
            <p>
                Artificial intelligence is the simulation of human intelligence processes by machines, especially computer systems. 
                Specific applications of AI include expert systems, natural language processing, speech recognition and machine vision.
               </p>
                <h5>Cybersecurity</h5>
            <p>
                Cyber security focuses on protecting computer systems from unauthorised access or being otherwise damaged or made inaccessible.
                 Information security is a broader category that protects all information assets, whether in hard copy or digital form.</p>
        </div>
       
    </div>
</div>