<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6"><img src="/assets/m1.gif" alt=""width="750" height="500"></div>
   

        <div class="col-sm-5">
<div class="course bg-danger">
    
    <h3 align="center" class="text-light">Registration For Online Courses</h3>
<form action="">

    <label for=""  class="text-light">First Name : </label>
    <input type="text" class="form-control" placeholder="First Name">
    <label for=""  class="text-light">Last Name : </label>
    <input type="text" class="form-control" placeholder="Last Name">
    <label for=""  class="text-light">Email Id : </label>
    <input type="text"  class="form-control" placeholder="Email Id" >
    <label for=""  class="text-light">Password : </label>
    <input type="password"  class="form-control" placeholder="Password">
    <label for=""  class="text-light">Confirm Password : </label>
    <input type="password"  class="form-control" placeholder="Confirm Password"><br>
    <button class="btn teal text-light">Register</button>
    <button class="btn bg-success text-light">Login</button>
</form>
</div> 
</div>
</div>
</div>